<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Página Personalizada</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/unicons.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="css/tooplate-style.css">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
</head>

<body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html"><i class='uil uil-user'></i> Joseph</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="About">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Projects">Projects</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="Resume">Resume</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                    </li>
                </ul> -->

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                        <div class="color-mode d-lg-flex justify-content-center align-items-center">
                            <i class="color-mode-icon"></i> Modo de Color
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Bienvenidos a <span class="mobile-block">mi página personalizada</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Aqui veremos</span>
                            <div class="animated-info">
                                <span class="animated-item">Servicios </span>
                                <span class="animated-item">Autor</span>
                                <span class="animated-item">información</span>
                            </div>
                        </h1>

                        <p>En esta página se presenta toda la información de los servicios instalados en Linux, su autor e información adicional</p>

                        <div class="custom-btn-group mt-4">
                            <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Descargar Informe</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="images/undraw/undraw_software_engineer_lvl5.svg" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">

            <div class="row">
                <div class="col-lg-11 text-center mx-auto col-12">

                    <div class="col-lg-8 mx-auto">
                        <h2>Autor de la instalación de los servicios en un servidor Linux</h2>
                    </div>

                    <hr>
                    <hr>
                    <!-- <div class="owl-carousel owl-theme"> -->
                    <div class="item">
                        <div class="project-info">
                            <img src="images/project/Joseph Valbuena.png" class="img-fluid" alt="project image">
                        </div>
                    </div>
                    <!-- </div> -->

                </div>
            </div>
        </div>
    </section>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <h2 class="mb-4 text-center">Servicios Instalados</h2>
            <div class="row">

                <div class="col-lg-6 col-12">

                    <div class="timeline">
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <i class="fas fa-star" style="color: #fff"></i>
                                <!-- <span>2019</span> -->
                            </div>
                            <div class="timeline-info">
                                <h3><span>Servicio Apache</span><small>Servicio Web</small></h3>
                                <p>Este es un servicio para brindar páginas web estáticas en su mayoría, es un utiliazo mundialmente debido a que es muy sencillo de instalar</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <i class="fas fa-star" style="color: #fff"></i>
                                <!-- <span>2018</span> -->
                            </div>
                            <div class="timeline-info">
                                <h3><span>Servicio DNS</span><small>Servicio Web</small></h3>
                                <p>El servicio DNS proporciona una forma más sencilla de entrar a los sitios web, los cuales están alojados en un servidor, este DNS brinda un nombre sencillo para encontrar el servidor</p>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="timeline">
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <i class="fas fa-star" style="color: #fff"></i>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Servicio RDP</span><small>Servicio Conexión Remota</small></h3>
                                <p>Este servicio proporciona una forma de conectarse al servidor de forma remota con la particularidad de que es con interfaz gráfica, esto es muy útil para servidores Windows</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <i class="fas fa-star" style="color: #fff"></i>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Servicio SSH<small>Servicio Conexión Remota</small></h3>
                          <p>Este servicio proporciona una manera de conectarse al servidor de forma remota pero solo por medio de Consola de comandos. Pueden utilizarse programas como putty para realizar esta conexión</p>
                      </div>
                  </div>
                  </div>
                </div>

            </div>
        </div>
    </section>

    <div class="container">
      <hr>
    </div>

    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="contact-form">
                        <h2 class="mb-4">Información de la materia</h2>
                        <div class="timeline">
                            <div class="timeline-wrapper">
                                <div class="timeline-yr">
                                    <i class="fas fa-graduation-cap" style="color: #fff"></i>
                                    <!-- <span>2019</span> -->
                            </div>
                            <div class="timeline-info">
                                <h3><span>Electiva CP: Linux</span><small>Nombre de la Materia</small></h3>
                                <p>En esta materia se vieron cosas muy interesantes para el manejo del sistema operativo Linux en sus diferentes distribuciones. Un excelente aporte a mi carrera</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <i class="fas fa-graduation-cap" style="color: #fff"></i>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Alan Guarnizo</span><small>Profesor de la materia</small></h3>
                                <p>Es un docente con mucha sabiduria y conocimiento del tema de servidores, nos dió herramientas necesarias para poder instalar todos los servicios que se requerían</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mr-lg-6 col-12">
                <div class="contact-form">
                    <h2 class="mb-4">Información de la universidad</h2>
                    <div class="timeline">
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <i class="fas fa-graduation-cap" style="color: #fff"></i>
                                <!-- <span>2019</span> -->
                            </div>
                            <div class="timeline-info">
                                <h3><span>Minuto de Dios</span><small>Nombre de la universidad</small></h3>
                                <p>Su nombre completo es la Corporación Universitaria Minuto de Dios, es una excelente universidad ubicada en varios puntos de Colombia con años de existencia y un excelente nivel de educación</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <i class="fas fa-graduation-cap" style="color: #fff"></i>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Ingeniería</span><small>Facultad perteneciente</small></h3>
                                <p>Es la facultad donde se forman todos los ingenieros, tecnológos y técnicos que quieran tener una profesión más hacia el ámbito matemático, físico, químico y todos los conocimientos basados en la ciencia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer py-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-12">
                    <p class="copyright-text text-center">Copyright &copy; 2021 Joseph Valbuena . All rights reserved</p>
                    <p class="copyright-text text-center">Designed by <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
                </div>

            </div>
        </div>
    </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jQuery.headroom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>

</body>

</html>