.btn-login:hover {
    border: 1px solid #fff;
    background: #fff;
    color: black;
}

.btn-register:hover {
    border: 1px solid #fff;
    background: #fff;
    color: black;
}

.nameProject {
    width: 8em;
}

.logo {
    margin-left: 20px;
}