<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <img src="../../../assets/img/project_logo.png" alt="" width="40" class="img-responsive logo">
    <a class="navbar-brand nameProject ps-2" [routerLink]="['/home']">CloudLibrary</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input [formControl]="search" class="form-control" type="text" placeholder="Busca tu libro..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-secondary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>

    <button class="btn btn-dark me-2 btn-login" *ngIf="auth == false" (click)="login()">Ingresar</button>
    <button class="btn btn-dark me-2 btn-register" *ngIf="auth == false" (click)="register()">Registrarse</button>

    <!-- Navbar-->
    <button (click)="logout()" class="btn btn-primary" *ngIf="auth == true">Salir <i class="fas fa-sign-out-alt"></i></button> br
</nav>
<script>
    window.addEventListener('DOMContentLoaded', event => {

        // Toggle the side navigation
        const sidebarToggle = document.body.querySelector('#sidebarToggle');
        if (sidebarToggle) {
            // Uncomment Below to persist sidebar toggle between refreshes
            // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
            //     document.body.classList.toggle('sb-sidenav-toggled');
            // }
            sidebarToggle.addEventListener('click', event => {
                event.preventDefault();
                document.body.classList.toggle('sb-sidenav-toggled');
                localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
            });
        }

    });
</script>