<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Home</div>
                <a class="btn btn-link nav-link" [routerLink]="['/home']">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Todos los libros
                </a>
                <div class="sb-sidenav-menu-heading" *ngIf="auth == true">ESPACIO PERSONAL</div>
                <a class="btn btn-link nav-link" (click)="goToProfile()" *ngIf="auth == true">
                    <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    Mi perfil
                </a>

                <a class="btn btn-link nav-link" (click)="goToBooks()" *ngIf="auth == true">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Mis Libros
                </a>

                <div class="sb-sidenav-menu-heading">SOCIAL</div>
                <a class="btn btn-link nav-link" [routerLink]="['/comments']">
                    <div class="sb-nav-link-icon"><i class="fas fa-comment-alt"></i></div>
                    Comentarios
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small" *ngIf="auth == false">Usuario en modo visitante</div>
            <div class="small" *ngIf="auth == true">Usuario actual:</div>
            {{name}}
        </div>
    </nav>
</div>