.background {
    background-image: url('../../../assets/img/bgPerfil2.jpg');
    /* background-position: center; */
    height: 200px;
}

.email {
    font-size: 22px;
}

.description {
    font-size: 20px;
}

.formEdit {
    margin: 0 10%;
}